@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --color-background: #404040;
  --color-primary: #2bc63a;
  --color-secondary: #ff6259;
  --color-white: #fff;
  --color-white-lite: #ddd9d9;
  --color-gray-lite: #5d5d5d5c;
}
* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  height: 100vh;
  padding: 1rem;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}

.input-controls {
  display: grid;
  grid-template-rows: 1fr 10fr 0.5fr;
  height: 100%;
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-background);
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  font-size: 1.5rem;
}
.logo-container svg {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  color: var(--color-white);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
.footer-logo svg {
  height: 18px;
  width: 18px;
  margin: 0 1rem;
}
.map-container {
  outline: none;
}

.leaflet-popup,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--color-background);
  border-radius: 5px;
  color: var(--color-white);
}

.running-popup {
  border-left: 5px solid var(--color-primary);
}
.cycling-popup {
  border-left: 5px solid var(--color-secondary);
}
.leaflet-popup-content,
.leaflet-popup-content p {
  font-size: 0.9rem;
  margin: 0.7rem;
}
.leaflet-container a.leaflet-popup-close-button {
  color: #ffffff89;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: var(--color-white);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.8rem;
  background-color: var(--color-gray-lite);
  transition: all 0.7s ease, transform 1ms;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}

.row-workout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5rem 0;
}
.form-input {
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 3px;
  padding-left: 5px;
  width: 85px;
  height: 25px;
}
.form-input:focus {
  background-color: var(--color-white-lite);
}

.form__row--hidden {
  display: none;
}

.workouts {
  /* background-color: red; */
}

.workout__container {
  /* background-color: green; */
  overflow-y: scroll;
  height: 60vh;
}
.workout__container::-webkit-scrollbar {
  width: 1px;
}

.single-workout__container {
  margin: 1rem 0;
  background-color: var(--color-gray-lite);
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.7s ease, transform 1ms;
}

.single-workout__headline {
  margin: 0;
  margin-bottom: 10px;
}
